<div class="audio-inner" role="complementary">
		{{#if model._channels._narration._isEnabled}}
		<div class="audio-item drawer-item">
			<div class="audio-item-open drawer-item-open">
				<div class="drawer-item-title">
					<div class="drawer-item-title-inner h5">{{{a11y_text model._channels._narration.title}}}</div>
				</div>
				<div class="drawer-item-description">
					<div class="drawer-item-description-inner narration-description">{{{a11y_text model._channels._narration.descriptionOn}}}</div>
				</div>
				<div class="drawer-audio-toggle-inner">
					<button class="base drawer-audio-toggle item-narration" data-id="0" tabindex="0" role="button"></button>
				</div>
			</div>
		</div>
		{{/if}}
		{{#if model._channels._effects._isEnabled}}
		<div class="audio-item drawer-item">
			<div class="audio-item-open drawer-item-open">
				<div class="drawer-item-title">
					<div class="drawer-item-title-inner h5">{{{a11y_text model._channels._effects.title}}}</div>
				</div>
				<div class="drawer-item-description">
					<div class="drawer-item-description-inner effects-description">{{{a11y_text model._channels._effects.descriptionOn}}}</div>
				</div>
				<div class="drawer-audio-toggle-inner">
					<button class="base drawer-audio-toggle item-effects" data-id="1" tabindex="0" role="button"></button>
				</div>
			</div>
		</div>
		{{/if}}
		{{#if model._channels._music._isEnabled}}
		<div class="audio-item drawer-item">
			<div class="audio-item-open drawer-item-open">
				<div class="drawer-item-title">
					<div class="drawer-item-title-inner h5">{{{a11y_text model._channels._music.title}}}</div>
				</div>
				<div class="drawer-item-description">
					<div class="drawer-item-description-inner music-description">{{{a11y_text model._channels._music.descriptionOn}}}</div>
				</div>
				<div class="drawer-audio-toggle-inner">
					<button class="base drawer-audio-toggle item-music" data-id="2" tabindex="0" role="button"></button>
				</div>
			</div>
		</div>
		{{/if}}
		{{#if model._reducedTextisEnabled}}
		<div class="audio-item drawer-item">
			<div class="audio-item-open drawer-item-open">
				<div class="drawer-item-title">
					<div class="drawer-item-title-inner h5">{{{a11y_text model._reducedText.title}}}</div>
				</div>
				<div class="drawer-item-description">
					<div class="drawer-item-description-inner text-description">{{{a11y_text model._reducedText.descriptionFull}}}</div>
				</div>
				<div class="drawer-audio-toggle-inner">
					<button class="button drawer-audio-button full-button" tabindex="0" role="button">{{{model._reducedText._buttons.full}}}</button>
					<button class="button drawer-audio-button reduced-button" tabindex="0" role="button">{{{model._reducedText._buttons.reduced}}}</button>
				</div>
			</div>
		</div>
		{{/if}}
</div>
