<div class="audio-inner" role="complementary">
	<div role="list">
	{{#each audio}}
	<div class="audio-item drawer-item {{_type}}">
		<div role="listitem" class="audio-item-open drawer-item-open" tabindex="0" aria-label="{{lookup ../model._filterButtons _type}}. {{{title}}}. {{{description}}}">
			<div class="drawer-item-title">
				<div class="drawer-item-title-inner h5">{{{title}}}</div>
			</div>
			<div class="drawer-item-description">
				<div class="drawer-item-description-inner">{{{description}}}</div>
			</div>
			<div class="drawer-audio-toggle-inner">
				<button href="#" class="base drawer-audio-toggle speaker-icon item-{{@index}}" data-id="{{@index}}" role="button"></button>
			</div>
		</div>
	</div>
	{{/each}}
	</div>
	<div class="aria-label a11y-ignore-focus prevent-default" tabindex="0" aria-label="{{model._ariaLabels.audioEnd}}"/>
</div>
